.grid{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;

      @media (max-width: 768px) {
        gap: 10px;
        padding: 1rem 8px ;
        grid-template-columns:  repeat(auto-fit, minmax(200px, .7fr));
    }

    @media (max-width: 500px) {
       
      grid-template-columns:  repeat(auto-fit, minmax(160px, .7fr));
    }

    @media (max-width: 375px) {
      grid-template-columns:  repeat(auto-fit, minmax(130px, .7fr));
    }
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}