.grid{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}