.grid{
    padding: 3rem 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;

    @media (max-width: 500px) {
        padding: 1rem 10px;
         grid-template-columns:  repeat(auto-fit, minmax(130px, .7fr));
         gap: 10px;
    }
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}