.grid {
    padding: 2rem 3rem ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;

    @media (max-width: 768px) {
      grid-template-columns:  repeat(auto-fit, minmax(140px, .5fr));
    }

    @media (max-width: 600px) {
        padding: 1rem 10px;
        grid-template-columns:  repeat(auto-fit, minmax(140px, .7fr));
        gap: 10px;
    }
  }
  .loading{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

