@use "../../../../app/colors.module.scss" as *;

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background-color: $secondaryDarkBg;
  padding: 1.5rem 1rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.3);
  z-index: 30;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &.open {
    transform: translateX(0);
  }

  &.closed {
    transform: translateX(-100%);
  }

  .userWrapper {
      display: block ;
      cursor: pointer;
      padding: 1rem 0;

      .userIcon {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100%;
          svg{
            color: #fff;
            font-size: 18px;
          }

          p{
            color: #fff;
          }
      }

      .containerUser{
        display: block;
        position: relative;
        padding: 1rem;
      }


      .hide {
        display: none;

      }

      .show {
        display: block;
        

        @media (max-width: 768px) {
          right: -40px;
        }
      }
    }


  

  .menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    color: $textLight;

    svg {
      font-size: 1.6rem;
      cursor: pointer;
    }
  }

  .menuLinks {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .cart {
      position: relative;
      
      margin-top: 13px;

      .spinner {
        display: inline-block;
        position: absolute;
        top: -19px;
        left: 0;        
      }

      span {
        position: absolute;
        top: -19px;
        left: 2px;
        font-weight: 600;
        color: $textLight;
        background-color: $accentBlue;
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 0.8rem;
      }
    }

    a {
        display: flex;
      align-items: center;
      gap: 5px;
      color: $textLight;
      font-size: 1.1rem;
      text-decoration: none;

      &:hover {
        color: $accentBlue;
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}