@use "../../app/colors.module.scss" as *;

.sectionContainer{
    padding: 2rem 3rem;

    h2{
        color: $textLight;
        padding-bottom: 2rem ;
    }
     @media (max-width: 768px) {
      padding: 1rem;
    }

    @media (max-width: 600px) {
        padding: 1.4rem 10px ;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;

     @media (max-width: 768px) {
        gap: 10px;
      grid-template-columns:  repeat(auto-fit, minmax(200px, .7fr));
    }

    @media (max-width: 600px) {
         grid-template-columns:  repeat(auto-fit, minmax(140px, .7fr));
    }
  }