@use "../../../app/colors.module.scss" as *;

.categories {
  padding: 3rem 2rem;
  background-color: $background;

  h2 {
    color: $textLight;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;

  }

  @media (max-width: 800px) {
     padding: 1rem 10px;
    h2{
      font-size: 24px;
    }

    .grid{
       grid-template-columns:  repeat(auto-fit, minmax(200px, .8fr));
    }
  }

  @media (max-width: 500px) {

    h2{
      font-size: 18px;
    }

   .grid{
      grid-template-columns:  repeat(auto-fit, minmax(160px, .7fr));
      gap: 10px;
   }
  }


    @media (max-width: 375px) {
      .grid{
        grid-template-columns:  repeat(auto-fit, minmax(130px, .7fr));
      }
    }
}
