.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem 3rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    padding: 2rem 0;
}