@use "../../app/colors.module.scss" as *;

.featured {
  padding: 3rem 2rem;

  h2 {
    color: $textLight;
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
  
  :global(.swiper) {
    padding-top: 10px;
    height: 400px;
  }

  @media (max-width: 500px) {
    padding: 2rem 10px ;

    :global(.swiper){
      height: 310px ;
    }

    h2{
      font-size: 24px;
    }
  }

}
