@use "../../../app/colors.module.scss" as *;

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondaryDarkBg;
  padding: 1rem 2rem;
  border-bottom: 1px solid $colorBorder;

  .logo {
    width: 100px;

    img{
        width: 100%;
        height: 80px;
    }
  }


  .icons {
    display: flex;
    gap: 1.2rem;
    position: relative;

  .userWrapper {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease ;


    .hide{
      display: none;
    }

    .show{
      display: block;
    }
  }

  .userIcon {
    font-size: 20px;
  }

    svg {
      color: $textLight;
      font-size: 1.4rem;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: $accentBlue;
      }
    }

    .cart{
      position: relative;

      div{
        display: inline-block;
        position: absolute;
        top: -12px;
        right: -1px;
      }

      span{
        position: absolute;
        top: -22px;
        right: -1px;
        font-weight: 600;
        text-decoration: none;
        color: $textLight;
        background-color: $accentBlue;
        padding: 1px 5px;
        border-radius: 50%;
      }
    }
  }
}

.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}



