@use "../../../app/colors.module.scss" as *;

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondaryDarkBg;
  padding: 1rem 2rem;
  border-bottom: 1px solid $colorBorder;

  .logo {
    width: 100px;

    img{
        width: 100%;
        height: 80px;
    }
  }


  .icons {
    display: flex;
    gap: 1.2rem;

    svg {
      color: $textLight;
      font-size: 1.4rem;
      cursor: pointer;
      transition: color 0.2s;

      &:hover {
        color: $accentBlue;
      }
    }

    .cart{
      position: relative;

      span{
        position: absolute;
        top: -22px;
        right: 0;
        font-weight: 600;
        text-decoration: none;
        color: $textLight;
        background-color: $accentBlue;
        padding: 1px 5px;
        border-radius: 50%;
      }
    }
  }
}
