@use "../../../app/colors.module.scss" as *;

.headerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $secondaryDarkBg;
  padding: 1rem 2rem;
  border-bottom: 1px solid $colorBorder;
  position: relative;
  z-index: 10;

  .search{
    @media (max-width: 768px) {
      display: none;
    }
  }

  .left {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  color: $textLight;
  cursor: pointer;

  @media (max-width: 768px) {
    display: block;
  }
}



  .logo {
    width: 120px;

    img {
      width: 100%;
      height: auto;
    }

    @media (max-width: 768px) {
      width: 100px;
      margin-bottom: 0.3rem;
    }
  }

  .icons {
    display: flex;
    gap: 1.2rem;
    position: relative;

    @media (max-width: 768px) {
      width: 100%;
      justify-content: center;
      gap: 1.6rem;
    }

    .userWrapper {
      position: relative;
      display: flex;
      align-items: center;
      cursor: pointer;

      .hide {
        display: none;
      }

      .show {
        display: block;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 20;

        @media (max-width: 768px) {
          right: -40px;
        }
      }
    }

    .userIcon {
      font-size: 22px;
    }

    svg {
      color: $textLight;
      font-size: 1.5rem;
      cursor: pointer;

      &:hover {
        color: $accentBlue;
      }
    }

    .cart {
      position: relative;

      div {
        display: inline-block;
        position: absolute;
        top: -12px;
        right: -1px;
      }

      span {
        position: absolute;
        top: -22px;
        right: -1px;
        font-weight: 600;
        color: $textLight;
        background-color: $accentBlue;
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 0.8rem;
      }
    }
  }

  .iconMobile {
  @extend .icons ;
  flex-direction: column;
  }

  @media (max-width: 768px) {
    padding: 0.8rem 1rem;
    flex-direction: column;
    gap: 0.8rem;

    .icons{
      display: none;
    }
  }
}

 /* USER ICON some no desktop */
  .userIconMobile {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }


/* FILTRO CENTRAL NO DESKTOP / ABAIXO NO MOBILE */
.filterWrapper {
  flex: 1;
  max-width: 600px;

  @media (max-width: 768px) {
    width: 100%;
    margin-top: 1rem;
  }
}

/* MENU LATERAL */



.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}
