@use "../../app/colors.module.scss" as *;


.card {
  position: relative;
  background-color: $colorCard;
  border-radius: 16px;
  padding: 1.5rem;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  &:hover {
    border-color: $accentBlue;
    box-shadow: 0 0 20px rgba(10, 132, 255, 0.15);
    transform: translateY(-4px);
  }

  a{
    text-decoration: none;
  }

  .imgCard {
    width: 100%;
    object-fit: contain;
    height: 150px;
    margin-bottom: 1rem;
  }

  h3 {
    color: $textLight;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .rating {
    color: $accentBlue;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .price {
    margin-bottom: 1rem;

    .current {
      color: $accentBlue;
      font-weight: bold;
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    .old {
      color: $textLight;
      text-decoration: line-through;
      font-size: 0.9rem;
    }

  }

  .cartButton {
    background: $accentBlue;
    color: #fff;
    border: none;
    width: 90%;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;

    &:hover {
      background: $accentBlue ;
    }

    svg {
      font-size: 1.1rem;
    }
  }

  .newTag {
    position: absolute;
    top: 12px;
    left: 12px;
    background: $accentBlue;
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    border-radius: 6px;
    padding: 0.25rem 0.6rem;
  }

  .favorite {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
  }

   @media (max-width: 500px) {
    border-radius: 5px;
      padding: 10px 0;
      .imgCard{
        height: 100px;
      }

      h3{
        font-size: 14px;
      }

      .price{
        .current{
          font-size: 16px;
        }

        .old{
          font-size: 13px;
        }
      }

      .favorite{
        top: 4px;
        right: 4px;
      }

      .cartButton{
        padding: 10px 5px;
        gap: 3px;
      }
    }

    @media (max-width: 375px) {
      .cartButton{
        svg{
          font-size: 12px;
        }
      }
    }

    @media (max-width: 330px) {
      .cartButton{
        svg{
          font-size: 11px;
        }
      }
    }
  
}