@use "../../../app/colors.module.scss" as *;

.sectionContainer{
    position: relative;
    background: linear-gradient(circle , #000 , transparent);
}


.backgroundImg{
    width: 100%;
    height: 500px;

    @media (max-width: 500px) {
        height: 300px;
    }
}
