@use "../../../app/colors.module.scss" as * ;

.card {
  display: flex;
  width: 100%;
  background-color: $colorCard;
  color: $textLight ;
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid transparent;

  &:hover {
    border-color: $accentBlue;
    box-shadow: 0 0 20px rgba(10, 132, 255, 0.15);
    transform: translateY(-4px);
  }

  a{
    text-decoration: none;
  }

  
  .imageBox {
    width: 80px;
    height: 80px;
  
    img {
      width: 100%;
      object-fit: contain;
      height: 80px;
      margin-bottom: 1rem;
    }
  }
}


.info {
  padding: 12px 10px;

  h3 {
    font-size: 1rem;
    font-weight: 600;

    margin-bottom: 6px;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    color: $accentBlue;
  }
}
