@use "../../../app/colors.module.scss" as * ;

.card {
  display: flex;
  width: 100%;
  background-color: $colorCard;
  color: $textLight ;
  text-align: center;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  gap: 10px;
  text-decoration: none;

  &:hover {
    border-color: $accentBlue;
    box-shadow: 0 0 20px rgba(10, 132, 255, 0.15);
    transform: translateY(-4px);
  }

  a{
    text-decoration: none;
  }

  
  .imageBox {
    width: 80px;
    height: 80px;
    padding-top: 5px;
  
    img {
      width: 100%;
      object-fit: contain;
      height: 70px;
      margin-bottom: 1rem;
    }
  }

  @media (max-width: 500px) {
    .imageBox{
      width: 60px;
      height: 60px;

      img{
        height: 50px;
      }
    }
  }
}


.info {
  padding: 12px 10px;

  h3 {
    font-size: 1rem;
    font-weight: 600;

    margin-bottom: 6px;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    color: $accentBlue;
  }

  @media (max-width: 500px) {
    padding: 8px;

    h3{
      font-size: 14px;
    }

    p{
      font-size: 14px;
    }
  }
}
