 $background:#1C1C1E;
 $secondaryDarkBg: #2C2C2E;
 $textLight: #FFFFFF; 
 $textMuted: #CCCCCC;
 $accentBlue: #00BFFF;
 $colorCard: #1e1f22;
 
 
 //  $colorDark: #1a1a1c;
//  $color-background: #0f0f10;
// $color-text: #ffffff;
// $color-text-muted: #9b9b9b;
// $color-primary: #0a84ff;
$colorBorder: #2b2b2d;
