 $background:#1C1C1E;
 $secondaryDarkBg: hsl(240, 2%, 15%);
 $textLight: #FFFFFF; 
 $textMuted: #CCCCCC;
 $accentBlue: #00BFFF;
 $colorCard: hsl(225, 6%, 16%);
 $colorBorder: #2b2b2d;
 $colorPrimary: #0a84ff;
$secondary: #6c757d;
$grayLightest: #f8f9fa;
$grayLight: #e9ecef;
$grayDark: #343a40;

 
 
 //  $colorDark: #1a1a1c;
//  $color-background: #0f0f10;
// $color-text: #ffffff;
// $color-text-muted: #9b9b9b;
