@use "../../app/colors.module.scss" as * ;


.spinner{
  border: 4px solid #f3f3f3;
  border-top: 4px solid $accentBlue ;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


.loading{

    @extend .spinner;
    border-width: 8px;
    width: 200px;
    height: 200px;
}   

