@use "../../../app/colors.module.scss" as *;

.cartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  border-radius: 12px;
  padding: 1rem;
  border: 1px solid #333;
  transition: 0.3s;

  &:hover {
    border-color: $colorPrimary;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

.imageBox {
  flex-shrink: 0;
  .imagePlaceholder {
    width: 64px;
    background: #333;
    border-radius: 8px;
    img{
        width: 100%;
        height: 74px;
        object-fit: contain;
    }
  }
}

.infoBox {
  flex: 1;
  margin-left: 1rem;

  .productName {
    font-weight: 600;
    font-size: 1rem;
  }

  .productPrice {
    color: $colorPrimary;
    margin-top: 0.25rem;
  }

  .actions {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    button {
      width: 28px;
      height: 28px;
      background: $colorPrimary;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      color: #111;
      font-weight: bold;
    }

    span {
      font-size: 0.9rem;
    }
  }
}

.removeButton {
  background: transparent;
  color: #aaa;
  border: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: #ff5555;
  }
}
