@use "../../../app/colors.module.scss" as * ;

.summary {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  h2 {
    font-size: 1.5rem;
  }

  @media (max-width: 600px) {
    gap: 10px;

    h2{
      font-size: 1.2rem;
    }
  }
}

.productsBox {
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
  background: #222;
  border-radius: 12px;
  padding: 1rem;

  .productName {
    font-weight: 600;
  }
  
  .productPrice {
    color: $accentBlue;
    margin-top: 0.25rem;
  }

  .imagePlaceholder {
    width: 80px;
    height: 80px;
    background: #333;
    border-radius: 8px;
  
    img{
       width: 100% ;
       height: 80px;
       object-fit: contain;
  
     }   
  }

  .quantity{
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: 600;
  }

  @media (max-width: 600px) {
    border-radius: 6px;
  }
}


.couponBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-size: 0.9rem;
    color: #aaa;
  }

  input {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid #333;
    background: #181818;
    color: #fff;
    outline: none;

    &:focus {
      border-color: $colorPrimary;
    }
  }

  @media (max-width: 600px) {
    padding: 10px 0;
  }
}

.totalBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;

  strong {
    color: $accentBlue;
  }

  @media (max-width: 600px) {
    padding: 10px 0;
  }
}

.checkoutButton {
  background: $colorPrimary;
  color: $textLight;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background: #0869ca;
  }
}

