.container {
  position: absolute;
  top: 55px;
  right: 10px;
  background: #fff;
  width: 160px;
  padding: 10px 0;
  border-radius: 8px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  animation: fadeIn 0.15s ease-in-out;
  z-index: 10;




}

.item {
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
  text-decoration: none;

  &:hover {
    background: #f1f1f1;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to   { opacity: 1; transform: translateY(0); }
}


