@use "../../app/colors.module.scss" as * ;

.container{
    padding: 2rem 0;

    h2{
        color: $textLight ;
        padding: 1rem ;

        span{
            color: $accentBlue;
        }
    }

    @media (max-width: 500px) {
        h2{
            font-size: 20px;
           
        }
    }
}

.loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    padding: 2rem 3rem;

    @media (max-width: 768px) {
        gap: 10px;
        padding: 1rem 8px ;
        grid-template-columns:  repeat(auto-fit, minmax(200px, .7fr));
    }

    @media (max-width: 500px) {
       
      grid-template-columns:  repeat(auto-fit, minmax(160px, .7fr));
    }

    @media (max-width: 375px) {
      grid-template-columns:  repeat(auto-fit, minmax(130px, .7fr));
    }
}

.noResult{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    p{
        padding-top: 2rem;
        font-size: 28px;
        color: $error;
        font-weight: 600;
    }
  }