@use "../../app/colors.module.scss" as * ;

.container{
    padding: 2rem 3rem;

    h2{
        color: $textLight ;
        padding: 1rem 0;

        span{
            color: $accentBlue;
        }
    }
}

.loading{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $textLight;
    height: 50vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
  }