.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scrollBox {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 400px;
  gap: 2px;
  overflow-y: auto;
  width: 50%;
  padding: 1rem 0;
  transition: all .5s ease;  

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #666;
  }

  @media (max-width: 768px) {
    width: 300px;
  }

  @media (max-width: 500px) {
    width: 250px;
  }
}

.grid {
  position: absolute;
  z-index: 10;
  gap: 3px;
  top: 3rem;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  transition: all .5s ease;
  

  @media (max-width: 500px) {
    left: -5.5rem ;
  }

  @media (max-width: 374px) {
    left: -4rem;
  }
}

.noResult {
  color: #666;
  font-size: 1.1rem;
  margin-top: 30px;

  p{
    color: transparent;
  }
}

