@use "../../app/colors.module.scss" as * ;

.containerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2.5rem;
}

.form{

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    gap: .5rem;
    width: 30%;
    text-align: left;
    background: #ffffff; 

    .title{
        text-align: center;
        width: 100%;
        padding: 10px ;
        color: $colorPrimary;
        background-color: $textLight;

    }

    .inputContainer{
        display: flex;
        width: 70%;
        flex-direction: column;
        margin-bottom: 5px;

        label{
            padding-bottom: 5px;
        }
         
        input{
            outline: none;
            border: 1px solid #6A0DAD;
            border-radius: .5rem;
            background-color: rgba(255, 255, 255, 0.2);
            color: $background;
            transition: all .5s ease;
            padding: 1rem;
        
            &::placeholder{
                color: #fff;
            }

            &:focus{
                outline: 1px solid #8c75a6;
                
            }

        }
    }

    .error{
        text-align: left;
        width: 100%;
        color: red;
        font-size: 14px;
        padding-top: 4px;

    }

    .button{
        border: none;
        width: 70%;
        font-weight: 700;
        border-radius: .5rem;
        background-color: #28a745;
        cursor: pointer;
        color: #fff;
        padding: 1rem 0;
        transition: all .5s ease;

        &:hover {
            background-color: #218838;
            transform: scale(1.05); 
        }

        &:active {
            background-color: #1e7e34; 
            transform: scale(1);
        }

        &:disabled {
            background-color: #cccccc;
            cursor: not-allowed; 
        }
    }

    .back{
        width: 100%;
        padding: 10px 0;
        cursor: pointer;
        text-align: center;

        button{
            @extend .button;
            background-color: $colorPrimary;

            &:hover{
                background-color: hsl(210, 100%, 40%) ;
            }

            &:active{
                background-color: hsl(210, 100%, 60%);
            }
        }
    }
}


.hide{
    display: none;
}

.show{
    display: block;
}
