@use "../../app/colors.module.scss" as * ;

.sectionContainer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-top: 2rem;

    h2{
        padding: 0 2rem;
        color: $textLight;
    }
}

.loading{
    height: 50vh;
}

.slideProduct{
    display: flex;
    padding: 4rem 0;
    align-items: center;
    background-color: $secondaryDarkBg;
    justify-content: space-evenly;
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product{
    width: 40%;
    height: 380px;


    img{
        height: 380px;
        width: 100%;
        object-fit: contain;
        filter: drop-shadow(0 0 4px $accentBlue);
    }
}

.info{
    width: 30%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .newTag {
        position: absolute;
        top: -3rem;
        left: 0;
        background: $accentBlue;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 600;
        border-radius: 30px;
        padding: 0.25rem 0.8rem;
        }
    
    h2 {
        color: $textLight;
        font-size: 2.5rem;
    }

    .rating {
        color: $textLight;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    .price {
        margin-bottom: 1rem;

        .current {
        color: $accentBlue;
        font-weight: 700;
        font-size: 2rem;
        margin-right: 1rem;
        }

        .old {
        color: $textMuted;
        text-decoration: line-through;
        font-size: 1rem;
        }
    }

    .containerButton{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .cartButton {
        background: $colorPrimary;
        color: #fff;
        border: none;
        border-radius: 10px;
        padding: 0.8rem 1.5rem;
        font-weight: 600;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        transition: background 0.2s;

        &:hover {
        background: lighten($colorPrimary, 5%);
        }

        svg {
        display: inline-block;
        font-size: 1.1rem;
        }
    }

    .favorite {
        position: absolute;
        top: -2.2rem;
        right: 1rem;
        background: transparent;
        border: none;
  }
    
}

.featureProduct{
    padding: 1rem 3rem;
    ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        border: 1px solid $textMuted; 
        width: 21%;
        
        li{
            padding: 4px 6px;
            border-left: 1px solid $textMuted
        }
    }

    .title{
        color: $textMuted;
        font-weight: 600;
    }
}